by Jessica

In [3]:
df1 = pd.read_csv("C:\\Users\\Jessica Tran\\Downloads\\2017_GSM_scaled.csv")
df1 = df1[['approx_price_eur_scale', 'battery_mah_scale','ram_in_gb_scale','internal_memory_in_gb_scale','model','brand']]
df1.shape

(8359, 6)

In [7]:
import pandas as pd
df2 = pd.read_csv("C:\\Users\\Jessica Tran\\Downloads\\World's Best-Selling Phone's Sales\\top 120 best-selling mobile phones.csv")
df2 = df2[['Manufacturer', 'Model','Units Sold (million )','Rank']]
df2.head()

  Manufacturer                Model  Units Sold (million )  Rank
0        Nokia                 1100                  250.0     1
1        Nokia                 1110                  247.5     2
2        Apple    iPhone 6 & 6 Plus                  222.4     3
3        Nokia           105 Series                  200.0     4
4        Apple  iPhone 6S & 6S Plus                  174.1     5

In [4]:
def fuzzy_match_and_join(df1, df2, key1, key2, threshold, limit=1):
    """
    Perform fuzzy matching and join two datasets on model names.

    Args:
        df1: First DataFrame
        df2: Second DataFrame
        key1: Column name in df1 for matching
        key2: Column name in df2 for matching
        threshold: Minimum similarity score to consider a match.
        limit: Number of best matches to return per row.

    Returns:
        Merged DataFrame with fuzzy-matched keys.
    """
    # Create a dictionary to store matches
    matches = []
    for model in df1[key1]:
        best_matches = process.extract(
            model, df2[key2], scorer=fuzz.ratio, limit=limit
        )
        for match, score, idx in best_matches:
            if score >= threshold:
                matches.append({
                    key1: model,
                    key2: match,
                    'similarity_score': score,
                    'index_df2': idx
                })
    
    # Create a DataFrame of matches
    match_df = pd.DataFrame(matches)
    
    # Merge the original DataFrames
    df2_with_index = df2.reset_index().rename(columns={"index": "index_df2"})
    merged_df = (
        df1.merge(match_df, on=key1)
           .merge(df2_with_index, left_on='index_df2', right_on='index_df2', suffixes=('_df1', '_df2'))
           .drop(columns=['index_df2'])
    )
    return merged_df

In [10]:
from rapidfuzz import process, fuzz

merged_df = fuzzy_match_and_join(df2, df1, key1='Model', key2='model', threshold=90)
merged_df = pd.DataFrame(data=merged_df)
merged_df

,Manufacturer,Model,Units Sold (million ),Rank,model_df1,similarity_score,approx_price_eur_scale,battery_mah_scale,ram_in_gb_scale,internal_memory_in_gb_scale,model_df2,brand
0,Nokia,1100,250.0,1,1100,100.000000,NaN,-0.750299,NaN,NaN,1100,Nokia
1,Nokia,1110,247.5,2,1110,100.000000,-0.276401,-0.705810,NaN,-0.448724,1110,Nokia
2,Apple,iPhone 5S,164.5,6,iPhone 5,94.117647,0.256900,-0.225336,-0.078241,2.570061,iPhone 5,Apple
3,Apple,iPhone5,146.2,15,iPhone 5,93.333333,0.256900,-0.225336,-0.078241,2.570061,iPhone 5,Apple
4,Nokia,3210,161.0,7,3210,100.000000,NaN,NaN,NaN,NaN,3210,Nokia
5,Nokia,6600,150.0,11,6600,100.000000,NaN,-0.750299,NaN,-0.448632,6600,Nokia
6,Nokia,1200,150.0,12,1200,100.000000,-0.294178,-0.883763,NaN,-0.448724,1200,Nokia
7,Nokia,5230,150.0,13,5230,100.000000,NaN,-0.438880,NaN,-0.446705,5230,i-mobile
8,Samsung,E1100,150.0,14,E1100,100.000000,-0.258624,-0.839275,NaN,-0.448862,E1100,Samsung
9,Motorola,RAZRV3,130.0,17,RAZR V3,92.307692,-0.169741,-0.901559,NaN,-0.448678,RAZR V3,Motorola
10,Nokia,1280,100.0,23,1280,100.000000,-0.311955,-0.794787,NaN,NaN,1280,Nokia
11,Apple,iPhone 4S,60.0,29,iPhone 4,94.117647,0.008026,-0.243132,-0.187995,1.060577,iPhone 4,Apple
12,Apple,iPhone 4,50.0,36,iPhone 4,100.000000,0.008026,-0.243132,-0.187995,1.060577,iPhone 4,Apple
13,Motorola,C200,60.0,31,C200,100.000000,NaN,-0.883763,NaN,NaN,C200,Motorola
14,Motorola,C139,60.0,32,C139,100.000000,-0.276401,-0.688015,NaN,NaN,C139,Motorola
15,Nokia,6300,47.0,37,6300,100.000000,-0.223071,-0.741401,NaN,-0.448540,6300,Nokia
16,Nokia,2650,35.0,44,2650,100.000000,NaN,-0.830377,NaN,NaN,2650,Nokia
17,Apple,iPhone 3GS,35.0,45,iPhone 3GS,100.000000,-0.151964,NaN,-0.242447,1.060577,iPhone 3GS,Apple
18,Samsung,E250,30.0,48,E250,100.000000,-0.187518,-0.839275,NaN,-0.448449,E250,Samsung
19,LG,KP100,30.0,49,KP100,100.000000,-0.276401,-0.705810,NaN,-0.448862,KP100,LG
20,Samsung,Galaxy S,25.0,55,Galaxy S8,94.117647,0.896861,1.162699,0.577733,2.570061,Galaxy S8,Samsung
21,Samsung,Galaxy Grand Prime Plus,24.2,56,Galaxy Grand Prime Plus,100.000000,-0.098634,0.806793,0.796390,-0.071536,Galaxy Grand Prime Plus,Samsung
22,Samsung,Galaxy A50,24.2,57,Galaxy A5,94.736842,0.114686,0.539863,0.140417,0.305835,Galaxy A5,Samsung
23,Samsung,Galaxy A51,23.2,59,Galaxy A5,94.736842,0.114686,0.539863,0.140417,0.305835,Galaxy A5,Samsung
24,Nokia,2100,20.0,62,2100,100.000000,NaN,-0.865968,NaN,NaN,2100,Nokia
25,Huawei,Mate 9,15.8,70,Mate 9,100.000000,0.772424,2.052465,0.577733,2.570061,Mate 9,Huawei
26,Nokia,5610 XpressMusic,15.0,73,5610 XpressMusic,100.000000,-0.151964,-0.705810,NaN,-0.447990,5610 XpressMusic,Nokia
27,Nokia,5800 XpressMusic,15.0,74,5800 XpressMusic,100.000000,-0.116411,-0.332108,-0.269673,-0.445191,5800 XpressMusic,Nokia
28,Nokia,E71,15.0,75,E71,100.000000,NaN,-0.857070,NaN,-0.448173,E71,BenQ-Siemens
29,Sony Ericsson,K750,15.0,77,K750,100.000000,-0.098634,-0.705810,NaN,-0.447164,K750,Sony Ericsson
30,Nokia,N95,10.0,87,N95,100.000000,0.025803,-0.661322,-0.283286,-0.441566,N95,Nokia
31,LG,Shine,10.0,88,Shine,100.000000,0.008026,0.717816,0.140417,-0.071536,Shine,Coolpad
32,Samsung,Galaxy Note,10.0,90,Galaxy Note7,95.652174,1.163511,1.607582,0.577733,2.570061,Galaxy Note7,Samsung
33,Xiaomi,Mi 2,10.0,91,Mi 2,100.000000,0.096909,0.272933,0.140417,1.060577,Mi 2,Xiaomi
34,Samsung,Galaxy Note 3,10.0,92,Galaxy Note 3,100.000000,0.399113,1.340652,0.359075,2.570061,Galaxy Note 3,Samsung
35,LG,G3,10.0,93,G3,100.000000,0.185793,1.162699,0.140417,0.305835,G3,LG
36,Samsung,Galaxy Note 8,10.0,94,Galaxy Note 8.0,92.857143,0.221346,2.586325,0.140417,1.060577,Galaxy Note 8.0,Samsung
37,Oppo,A5,9.7,97,A5,100.000000,-0.258624,-0.438880,-0.242447,-0.425414,A5,Karbonn
38,Samsung,Galaxy Note 9,9.6,98,Galaxy Note 4,92.307692,0.434667,1.358448,0.359075,1.060577,Galaxy Note 4,Samsung
39,Samsung,Galaxy A30,9.2,99,Galaxy A3,94.736842,-0.009751,0.183956,-0.078241,0.305835,Galaxy A3,Samsung
40,Samsung,Galaxy A30s,3.4,112,Galaxy A3,90.000000,-0.009751,0.183956,-0.078241,0.305835,Galaxy A3,Samsung
41,Oppo,F1 Plus,7.0,101,F1 Plus,100.000000,0.274676,1.029234,0.577733,2.570061,F1 Plus,Oppo
42,Apple,iPhone,6.0,104,iPhone,100.000000,0.399113,NaN,NaN,0.305835,iPhone,Apple
43,Nokia,N-Gage,3.0,113,N-Gage,100.000000,NaN,-0.750299,NaN,-0.448724,N-Gage,Nokia
44,LG,G2,3.0,114,G2,100.000000,NaN,0.984746,NaN,NaN,G2,Icemobile
45,Palm,Centro,2.0,120,Centro,100.000000,-0.223071,-0.483369,NaN,-0.445971,Centro,Palm